<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= painting.title %> (<%= painting.year %>)</h1>
  <% if(painting.on_display == 1) { %>
       <h3>Ki van állítva</h3>
  <% }else{ %>
        <h3>Nincs kiállítva</h3> 
  <% } %>
  <form method="POST">
    <input type="submit" value="Delete">
  </form>

</body>
</html>
